main > div:nth-of-type(1){background:#eee;width:100%;float:left;margin-bottom:1rem;}
main > aside{width: 96.1%;height:19rem;margin: 1rem auto;padding: 1rem;background-color: #eee;}
	main > aside > div{width:49.5%;height:100%;float:left;background:#fff;}
	main > aside > div:nth-last-of-type(1){float:right;}
		main > aside > div > figure{float:left;width:37%;text-align:center;padding:.5rem;
		height:94%;}
			main > aside > div > figure > a > img{max-height:95%;max-width:100%;
			margin-top:.5rem;}
	main > aside > div > figcaption{float:right;width:59.5%;
	padding:1rem .5rem 1rem 0;}
		main > aside > div > figcaption > ul{margin-top:1rem;float:left;width:100%;}
			main > aside > div > figcaption > ul > li{float:left;width:100%;}
			main > aside > div > figcaption > ul > li:nth-of-type(1){font-size: 1.3rem;
			font-weight:bolder;margin-bottom:.5rem;}
				main > aside > div > figcaption > ul > li:nth-of-type(1) > a:hover{
			text-decoration: underline;}
			main > aside > div > figcaption > ul > li:nth-of-type(2){margin-bottom:.5rem;}
			main > aside > div > figcaption > ul > li:nth-of-type(5){margin-top:1rem;}
			main > aside > div > figcaption > ul > li:nth-of-type(5) > span{color:#f00;
				font-style: italic;text-decoration: line-through;}
			main > aside > div > figcaption > ul > li:nth-of-type(6) > span{font-weight:bolder;
				font-size: 1.3rem;}
			main > aside > div > figcaption > ul > li:nth-of-type(7) > span,
			main > aside > div > figcaption > ul > li:nth-of-type(8) > span{color:#999;}
main nav{width:20rem;float:left;}
	main nav > ul{float:left;width:95%;margin: 1rem;}
	main nav > ul > li{float:left;width:100%;font-size:1.4rem;}
	main nav > ul > li > img{margin-right:.5rem;width:.8rem;}
	main nav > ul > li > ul{border-top:.1rem solid #000;float:left;width:100%;}
	main nav > ul > li > ul > li{background:#eee;margin-top:.1rem;float:left;width:100%;}
	main nav > ul > li > ul > li > a{font-size:1.1rem;float:left;padding:.5rem;width:95%;}
	main nav > ul > li > ul > li > a:hover{background:#2b2b2b;color:#fff;}

main > div:nth-of-type(2){width:78.7rem;float:left;padding:1rem;}
	main > div:nth-of-type(2) > div{width:61.7rem;float:left;}
		main > div:nth-of-type(2) > div > div{float:left;width:19rem;margin:0 .5rem .5rem 0;padding:.5rem;
			border:.1rem solid #eee;}
		main > div:nth-of-type(2) > div > div:nth-child(3n){margin-right: 0;}
		main > div:nth-of-type(2) > div > div > figure,
		main > div:nth-of-type(2) > div > div > figcaption,
		main > div:nth-of-type(2) > div > div > figcaption > ul,
		main > div:nth-of-type(2) > div > div > figcaption > ul > li{float:left;width:100%;}
		main > div:nth-of-type(2) > div > div > figure{text-align: center;height: 11rem;}
			main > div:nth-of-type(2) > div > div > figure > img{max-height: 100%;max-width:100%;}
			main > div:nth-of-type(2) > div > div > figcaption{}
			main > div:nth-of-type(2) > div > div > figcaption > ul{}
			main > div:nth-of-type(2) > div > div > figcaption > ul > li{margin-bottom: .1rem;}
			main > div:nth-of-type(2) > div > div > figcaption > ul > li:nth-child(1){}
			main > div:nth-of-type(2) > div > div > figcaption > ul > li:nth-child(2){text-align: center;
				font-size:1.3rem;font-weight: bolder;margin: 1rem 0;}
			main > div:nth-of-type(2) > div > div > figcaption > ul > li:nth-child(2) > a:hover{text-decoration:underline;}
			main > div:nth-of-type(2) > div > div > figcaption > ul > li:nth-child(3) > span{color:#f00;font-style: italic;
				text-decoration: line-through;}
			main > div:nth-of-type(2) > div > div > figcaption > ul > li:nth-child(4) > span{font-weight: bolder;font-size: 1.3rem;}
			main > div:nth-of-type(2) > div > div > figcaption > ul > li:nth-child(5),
			main > div:nth-of-type(2) > div > div > figcaption > ul > li:nth-child(6){color:#999;}



	main > div:nth-of-type(2) > aside{background:#eee;width:16rem;height:60rem;margin-bottom:1rem;float:right;}
